<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <!-- Initialisation de bootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
  </head>
  <body>

      <div class='container p-0 '>


      <div class="row" id="shop-header">
          <div class="col-12">
              <img id="logo-header" src="/images/bike-logo.svg"  alt=""> The Bike Shop Experience
          </div>
      </div>

      <div class = 'row' id='imgBG'></div>

       <div class = 'row'>

        <!-- exploitation des données injectées par le backend en les parcourant à l’aide d’une boucle. -->
        <% for (var i= 0; i < dataBike.length; i++) { %>
          <div class="col-12 col-sm-6 col-md-4 bike-card">
              <div class="card text-center">
                <img class="card-img-top" src=<%= dataBike[i].url %> >
                <div class="card-body">
                  <h5 class="card-title"><%= dataBike[i].name %></h5>
                  <span class="shop-price"><%= dataBike[i].price %>€</span>
                  <a href="/shop" class="btn btn-outline-info btn-sm">Buy</a>
                </div>
              </div>
          </div>
          <%}%>

     </div>
    </div>


  </body>
</html>
